@model app.Models.AdminViewModels.CreateAlarmViewModel

@{
    ViewData["Title"] = Localizer["Alarm"];
    ViewData.AddActivePage(ManageNavPages.Alarms);
}

<h2>Opprett Alarm</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAlarm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Alarm.ToolId" class="control-label">Verktøy</label>
                <select asp-for="Alarm.ToolId" class="form-control"/>
                    @foreach(Tool tool in Model.Tools)
                    {
                        <option value="@tool.Id">@tool.Name</option>
                    }
                </select>
                <span asp-validation-for="Alarm.Tool.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alarm.Name" class="control-label">Navn på alarm</label>
                <input asp-for="Alarm.Name" class="form-control" />
                <span asp-validation-for="Alarm.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alarm.Date" class="control-label"></label>
                <input asp-for="Alarm.Date" class="form-control" />
                <span asp-validation-for="Alarm.Date" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label class="control-label">Status etter utløpsdato</label>
                <select name="Alarm.StatusId" class="form-control">
                    <option value="">Ikke endre</option>
                    @foreach(Status status in Model.Statuses){
                        <option value="@status.Id">@status.StatusName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>