@model app.Models.AdminViewModels.IndexViewModel

@using System;
@using System.Globalization;
@using System.Linq;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = Localizer["Administration panel"];
    ViewData.AddActivePage(ManageNavPages.Index);

    // Create data and label arrays for the graphs
    var labelsUseCount = JsonConvert.SerializeObject(Model.ToolUseCount.Take(10).Select(t => t.Tool.Name));    
    var dataUseCount = JsonConvert.SerializeObject(Model.ToolUseCount.Take(10).Select(t => t.Count));

    var labelsUsagePercent = JsonConvert.SerializeObject(Model.ToolUsage.Take(10).Select(t => t.Tool.Name));    
    var dataUsagePercent = JsonConvert.SerializeObject(Model.ToolUsage.Take(10).Select(t => t.UsagePercent));
}

<h2>@Localizer["Tool Usage Overview"]</h2>

<div class="row">
    <div class="col-md-6">
        <h3>@Localizer["Number of times lent"]</h3>

        <div>
            <canvas id="ToolUseCountChart" style="height: 170px;"></canvas>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>@Localizer["Tool"]</th>
                    <th>@Localizer["Number of times lent"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var l in Model.ToolUseCount)
                {
                    <tr>
                        <td>@l.Tool.Name</td>
                        <th>@l.Count</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <h3>@Localizer["Percentage of time lent"]</h3>

        <div>
            <canvas id="ToolUsagePercentChart" style="height: 170px;"></canvas>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>@Localizer["Tool"]</th>
                    <th>@Localizer["Duration of use the last year"] (%)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var l in Model.ToolUsage)
                {
                    <tr>
                        <td>@l.Tool.Name</td>
                        <th>@l.UsagePercent.ToString("F2")</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h3>@Localizer["Recent loans"] <sub><a asp-action='Log'>@Localizer["se the whole log"]</a></sub></h3>

        <table class="table table-condensed table-hover table-striped" id="tool-log">
            <thead>
                <tr>
                    <th>@Localizer["Lent by"]</th>
                    <th>@Localizer["On loan"]</th>
                    <th>@Localizer["Tool"]</th>
                    <th class="fit">@Localizer["Tendered"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var l in Model.Log10)
                {
                    @if (l.FromDate == l.ToDate)
                    {
                        <tr>
                            <td>@l.User.UserName</td>
                            <td>@l.FromDate.ToLocalTime().ToString("G")</td>
                            <td>@l.Tool.Name</td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="checkedin">@l.User.UserName</td>
                            <td class="checkedin">@l.FromDate.ToLocalTime().ToString("G", CultureInfo.CreateSpecificCulture("nb-NO"))</td>
                            <td class="checkedin">@l.Tool.Name</td>
                            <td class="checkedin"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<script>
    var ctxUseCount = document.getElementById("ToolUseCountChart");
    var ctxUsePercent = document.getElementById("ToolUsagePercentChart");

    var colorSet1 = [ '#ff6600', '#f53794', '#f61525', '#166a8f', '#4dc9f6', '#8549ba', '#58595b', '#00a950', '#acc236', '#537bc4' ];
    var colorSet2 = colorSet1.slice().reverse();

    var useCountChart = new Chart(ctxUseCount, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: @Html.Raw(dataUseCount),
                backgroundColor: colorSet1
            }],
            labels: @Html.Raw(labelsUseCount)
        },
        options: {
            cutoutPercentage: 60,
            maintainAspectRatio: false,
            legend: {
                position: 'left'
            },
        }
    });

    var usagePercentChart = new Chart(ctxUsePercent, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: @Html.Raw(dataUsagePercent),
                backgroundColor: colorSet2
            }],
            labels: @Html.Raw(labelsUsagePercent)
        },
        options: {
            cutoutPercentage: 60,
            maintainAspectRatio: false,
            legend: {
                position: 'left'
            },
            tooltips: {
                callbacks: {
                    // Format tooltip-labels with 1 decimal rounding
                    label: function(tooltipItem, data) {
                        var label = data.labels[tooltipItem.index] + ": ";
                        label += Math.round(data.datasets[0].data[tooltipItem.index]  * 10) / 10 + "%";
                        return label;
                    }
                }
            }
        }
    });
</script>
}