@model IEnumerable<app.Models.Report>

@{
    ViewData["Title"] = Localizer["Reports"];
    ViewData.AddActivePage(ManageNavPages.Reports);

    var returnurl = System.Net.WebUtility.UrlEncode("/Admin/Reports");
}

<div id="app" v-cloak>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["Report message"]
                </th>
                <th>
                    @Localizer["Tool"]
                </th>
                <th>
                    @Localizer["User"]
                </th>
                <th>
                    Løst
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="r in reports">
                <td>
                    {{ r.error }}
                </td>
                <td>
                    {{ r.tool.name }}
                </td>
                <td>
                    {{ r.user.userName }}
                </td>
                <td>
                    <button type="button" class="btn btn-default" title="@Localizer["Mark as solved"]"
                    v-on:click="markAsResolved(r.id, false, r.error)" v-if="!r.isResolved">
                    <span class="glyphicon glyphicon-remove"></span>
                    </button>

                    <button type="button" class="btn btn-default" title="@Localizer["Mark as unsolved"]" 
                    v-on:click="markAsResolved(r.id, true, r.error)" v-else>
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    </button>
                </td>
                <td class="fit">
                    <div class="dropdown">
                        <button id="more-btn" class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
                            <span class="more-dot"></span>
                            <span class="more-dot"></span>
                            <span class="more-dot"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a v-bind:href="'/Report/Edit/' + r.id + '?returnurl=@returnurl'">@Localizer["Edit"]</a></li>
                            <li><a v-bind:href="'/Report/Details/' + r.id + '?returnurl=@returnurl'">@Localizer["Details"]</a></li>
                            <li><a v-bind:href="'/Report/Delete/' + r.id + '?returnurl=@returnurl'">@Localizer["Delete"]</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="2">@Localizer["There are no reports to show..."]</td>
            </tr>
        }
        </tbody>
    </table>

    <!-- Confirmation dialog -->
    @await Html.PartialAsync("ConfirmDialogPartial")
</div>

@section Scripts {

<!-- Script for custom confirmation dialog -->
<environment include="Development">
    <script src="~/js/confirm-dialog.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/confirm-dialog.min.js"></script>
</environment>

<script>
var app = new Vue({
    el: '#app',
    data: {
        reports: []
    },
    created: function () {
        this.loadReports();
    },
    methods: {
        loadReports: function() {
            var self = this;

            // Fetch list of reports
            axios.get('/api/report')
            .then(function (response) {
                self.reports = response.data;
            }); 
        },
        markAsResolved: function(id, isResolved, error) {
            var self = this;

            var options;

            if (isResolved)
            {
                options = {
                title: 'Vennligst bekreft',
                message: 'Er du sikker på at du vil merke rapporten "' 
                + error + '" som uløst?' 
                }
            }
            else
            {
                options = {
                title: 'Vennligst bekreft',
                message: 'Er du sikker på at du vil merke rapporten "' 
                + error + '" som løst?' 
                }
            }

            ConfirmDialog(options, function(){
                axios.put('/api/Report/' + id + '/markAsResolved')
                    .then(function (response){
                        if (response.status == 200)
                        {
                            self.loadReports();
                        }
                });
            })
        }
    }
})
</script>
}