@model IEnumerable<app.Models.Status>

@{
    ViewData["Title"] = "Statuses-List";
    ViewData.AddActivePage(ManageNavPages.Statuses);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-controller="Statuses" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StatusName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Glyphicon)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="@(@item.IsDeleteable ? "" : "undeleteable")">
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                <i style="@item.Style" class="@item.Glyphicon"></i>
            </td>
            <td class="fit">
                <div class="dropdown">
                    <button id="more-btn" class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
                        <span class="more-dot"></span>
                        <span class="more-dot"></span>
                        <span class="more-dot"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a asp-controller="Statuses" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                        @if(item.IsDeleteable) {<li><a asp-controller="Statuses" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>}
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
