@{
    ViewData["Title"] = Localizer["Users"];
    ViewData.AddActivePage(ManageNavPages.Users);
}

<div id="app">

<a asp-action="CreateUser" class="btn btn-default">@Localizer["Create new user"]</a>
<a asp-action="CreateManyUsers" class="btn btn-default">@Localizer["Create several users"]</a>

<hr />

<!--Search users-->
<form v-on:submit.prevent class="form-inline" role="form">
  <div class="form-group has-feedback">
    <input type="text" class="form-control" id="search" placeholder="@Localizer["Search users"]" v-model="search" autofocus>
    <span class="glyphicon glyphicon-search form-control-feedback"></span>
  </div>
</form>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>@Localizer["Username"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["Phonenumber"]</th>
            <th>Administrator</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="user in filteredUsers" v-cloak>
            <td>{{ user.userName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>
                <p v-if="user.isSuperAdmin">Super-Administrator</p>

                <div v-else>
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <button type="button" class="btn btn-default" title="Merk som administrator"
                        v-on:click="markAsAdmin(user.id, user.userName, user.isAdmin)" v-if="!user.isAdmin">
                        <span class="glyphicon glyphicon-remove"></span>
                        </button>

                        <button type="button" class="btn btn-default" title="Merk som vanlig bruker"
                        v-on:click="markAsAdmin(user.id, user.userName, user.isAdmin)" v-else>
                        <span class="glyphicon glyphicon-ok-sign"></span>
                        </button>
                    }
                    else
                    {
                        <span class="okSign glyphicon glyphicon-remove" v-if="!user.isAdmin" title="Kun super-administratoren har lov til 책 merke vanlige brukere som administratorer"></span>
                        <span class="okSignGreen glyphicon glyphicon-ok-sign" v-else title="Kun super-administratoren har lov til 책 merke administratorer som vanlige brukere"></span>
                    }
                </div>
            </td>
            <td class="fit">
                <div class="dropdown">
                    <button id="more-btn" class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
                        <span class="more-dot"></span>
                        <span class="more-dot"></span>
                        <span class="more-dot"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <li><a v-bind:href="'/User/Edit/' + user.id">@Localizer["Edit"]</a></li>
                            <li><a v-bind:href="'/User/Details/' + user.id">@Localizer["Details"]</a></li>
                            <li><a v-bind:href="'/User/Delete/' + user.id" v-if="!user.isSuperAdmin">@Localizer["Delete"]</a></li>
                        }
                        else
                        {
                            <li><a v-bind:href="'/User/Edit/' + user.id" v-if="!user.isSuperAdmin && !user.isAdmin">@Localizer["Edit"]</a></li>
                            <li><a v-bind:href="'/User/Details/' + user.id">@Localizer["Details"]</a></li>
                            <li><a v-bind:href="'/User/Delete/' + user.id" v-if="!user.isSuperAdmin && !user.isAdmin">@Localizer["Delete"]</a></li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>

    <!-- Confirmation dialog -->
    @await Html.PartialAsync("ConfirmDialogPartial")
</div>

@section Scripts {

<!-- Script for custom confirmation dialog -->
<environment include="Development">
    <script src="~/js/confirm-dialog.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/confirm-dialog.min.js"></script>
</environment>

<script>
var app = new Vue({
    el: '#app',
    data: {
        users: [],
        search: ''
    },
    created: function () {
        this.loadUsers();  
    },
    computed: {
        filteredUsers: function() {
            return this.users.filter((user) => {
                return user.userName.toLowerCase().match(this.search.toLowerCase());
            })
        }
    },
    methods: {
        loadUsers: function() {
            var self = this;

            // Fetch list of users
            axios.get('/api/Users')
            .then(function (response) {
                self.users = response.data;
            }); 
        },
        markAsAdmin: function(id, userName, isAdmin) {
            var self = this;

            var options;

            if (isAdmin)
            {
                options = {
                title: 'Vennligst bekreft',
                message: 'Er du sikker p책 at du vil merke ' 
                + userName + ' som en vanlig bruker?' 
                }
            }
            else
            {
                options = {
                title: 'Vennligst bekreft',
                message: 'Er du sikker p책 at du vil merke ' 
                + userName + ' som en administrator?' 
                }
            }
            
            ConfirmDialog(options, function(){
                axios.put('/api/Users/' + id + '/markAsAdmin')
                    .then(function (response){
                        if (response.status == 200)
                        {
                            self.loadUsers();
                        }
                });
            })   
        }
    }
})
</script>
}