@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = Localizer["Two-factor authentication"];
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>@Localizer["You have no recovery codes left"].</strong>
            <p>@HtmlLocalizer["You must <a asp-action='GenerateRecoveryCodes'>generate a new set of recovery codes</a> before you can log in with a recovery code."]</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>@Localizer["You have 1 recovery code left"].</strong>
            <p>@HtmlLocalizer["You can <a asp-action='GenerateRecoveryCodes'>generate a new set of recovery codes</a>."]</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>@HtmlLocalizer["You have @Model.RecoveryCodesLeft recovery codes left."]</strong>
            <p>@HtmlLocalizer["You should <a asp-action='GenerateRecoveryCodes'>generate a new set of recovery codes</a>."]</p>
        </div>
    }

    <a asp-action="Disable2faWarning" class="btn btn-default">@Localizer["Disable 2FA"]</a>
    <a asp-action="GenerateRecoveryCodes" class="btn btn-default">@Localizer["Reset recovery codes"]</a>
}

<h5>@Localizer["Authenticator app"]</h5>
@if (!Model.HasAuthenticator)
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">@Localizer["Add authenticator app"]</a>
}
else
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">@Localizer["Configure authenticator app"]</a>
    <a asp-action="ResetAuthenticatorWarning" class="btn btn-default">@Localizer["Reset authenticator key"]</a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
