@model IEnumerable<app.Models.Favorite>

@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4 col-xs-12">
        <a href="/tool" class="home-button">
            <span>Tool-List</span>
        </a>
    </div>

    <div class="col-md-4 col-xs-12">
        <a href="/Calendar" class="home-button">
            <span>Calendar</span>
        </a>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-4 col-xs-12">
            <a href="/User" class="home-button">
                <span>User-List</span>
            </a>
        </div>
    }
</div>

<h3>Favoritter</h3>
<div id="favorites" class="clearfix row">
@foreach (var fav in Model)
{
    <div class="favorite pull-left col-md-3 col-xs-12">
        <a asp-controller="tool" asp-action="details" asp-route-id="@fav.ToolId">
            <div class="clearfix favorite-head">
                <span class="favorite-name">
                    @fav.Tool.Name
                </span>
                
                <span class="favorite-thumbnail pull-right">
                    <img src="~/@fav.Tool.Thumbnail" alt="" class="img-responsive">
                </span>
            </div>
            <div class="favorite-status">
                status: 
                <span style="@fav.Tool.Status.Style" class="@fav.Tool.Status.Glyphicon"></span> <i>@fav.Tool.Status.StatusName</i>
            </div>
        </a>
    </div>
}
</div>
@if (Model.Count() == 0)
{
    <text>
    <div class="alert alert-info">
        <p>Du har ingen favoritter!</p>
        <p>
            Legg til favoritter ved å trykke på favoritt-ikonet
            (<span class="glyphicon glyphicon-star-empty" style="font-size: 1em;"></span>)
            på verktøysiden.
        </p>
    </div>
    </text>
}