@model app.Models.Tool

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h2>Detaljer</h2>

<div id="app" v-cloak>
    <h4 style="display: inline-block;">@Model.Name</h4>
    <span class="glyphicon" aria-hidden="true"
          v-on:click="toggleFavorite"
          v-bind:class="{ 'glyphicon-star': favorite, 'glyphicon-star-empty' : !favorite}">
    </span>
    <hr />
    @if (Model.Image != "")
    {
        <img src="~/@Model.Image" style="">
    }
    else
    {
        <span class="glyphicon glyphicon-wrench" style="font-size: 100px;" aria-hidden="true"></span>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            <i style="@Model.Status.Style" class="@Model.Status.Glyphicon"></i> @Html.DisplayFor(model => model.Status.StatusName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reports)
        </dt>
        @if (!Model.Reports.Any())
        {
            <dd></dd>
        }
        else
        {
           @foreach (var report in Model.Reports)
            {
                <dd>
                    - @report.Error
                    @if (@report.UserId == @UserManager.GetUserId(User) || User.IsInRole("Admin"))
                    {
                        <a asp-controller="Reports" asp-action="Edit" asp-route-id="@report.Id">Edit</a> @Html.Raw("|")
                        <a asp-controller="Reports" asp-action="Details" asp-route-id="@report.Id">Details</a> @Html.Raw("|")
                        <a asp-controller="Reports" asp-action="Delete" asp-route-id="@report.Id">Delete</a> 
                    }
                </dd>
            }
        }
        <dt>
            @Html.DisplayNameFor(model => model.Alarms)
        </dt>
        @if (!Model.Alarms.Any())
        {
            <dd></dd>
        }
        else
        {
            @foreach (var alarm in Model.Alarms)
            {
                <dd>
                    - @alarm.Name: @alarm.Date
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Alarms" asp-action="Edit" asp-route-id="@alarm.Id">Edit</a> @Html.Raw("|")
                        <a asp-controller="Alarms" asp-action="Details" asp-route-id="@alarm.Id">Details</a> @Html.Raw("|")
                        <a asp-controller="Alarms" asp-action="Delete" asp-route-id="@alarm.Id">Delete</a>
                    }
                </dd>
            }
        }
    </dl>

    <div class="buttons">
        <!-- Button to trigger reservation dialog to popup -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reservationDialog">
            Reservér
        </button>
        
        <button type="button" class="btn btn-success" v-on:click="checkIn(@Model.Id)" 
                v-if="currentOwnerId == '@UserManager.GetUserId(User)'">
            Sjekk inn
        </button>
        
        <button type="button" class="btn btn-danger" v-on:click="checkOut(@Model.Id)" 
                v-if="currentOwnerId == 'No owner'">
            Sjekk ut
        </button>

        <a href="/Reports/Create/@Model.Id" class="btn btn-warning">Rapporter feil</a>

        @if (User.IsInRole("Admin"))
        {
            <a href="/Alarms/Create/@Model.Id" class="btn btn-info">Registrer alarm</a>
        }
    </div>

    <br>
    <a asp-action="Index">Tilbake til verktøyliste</a>

    <h3>Reservasjoner</h3>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Reservert av</th>
                <th>Start</th>
                <th>Slutt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="r in reservations">
                <td>{{ r.user.userName }}</td>
                <td>{{ r.fromDate }}</td>
                <td>{{ r.toDate }}</td>
                <td>
                    <button v-if="r.userId == '@UserManager.GetUserId(User)'" v-on:click="deleteReservation(r.id)" class="close" style="color: red;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Logg</h3>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Brukt av</th>
                <th>Start</th>
                <th>Slutt</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="l in logs">
                <td>{{ l.user.userName }}</td>
                <td>{{ l.fromDate }}</td>
                <td>{{ l.toDate }}</td>
            </tr>
        </tbody>
    </table>
    
    <!-- Reservation dialog -->
    @await Html.PartialAsync("ReserveDialogPartial", new app.Models.Reservation())
    
    <!-- Confirmation dialog -->
    @await Html.PartialAsync("ConfirmDialogPartial")
</div>

<style>
    .buttons .btn {
        margin-top: 5px;
    }
</style>

@section Scripts {
<!-- Script for custom confirmation dialog -->
<script src="~/js/confirm-dialog.js"></script>

<script>
var app = new Vue({
    el: '#app',
    data: {
        faviconhover: false,
        favorite: false,
        currentOwnerId: "@Model.CurrentOwnerId",
        reservations: [],
        logs: [],
        reservationForm: {
            FromDate: '',
            ToDate: ''
        }
    },
    created: function () {
        this.loadReservations();
        this.loadLogs();

        var self = this;
        axios.get('/api/favorites')
        .then(function (response) {
            for (var i = 0; i < response.data.length; i++) {
                if (response.data[i].toolId == @Model.Id) {
                    self.favorite = true;
                    return;
                }
            }
        }); 
    },
    methods: {
        loadReservations: function() {
            var self = this;

            // Fetch list of reservations
            axios.get('/api/reservations/?toolid=@Model.Id')
            .then(function (response) {
                self.reservations = response.data;
            }); 
        },
        loadLogs: function() {
            var self = this;

            // Fetch list of logs
            axios.get('/api/logs/?toolid=@Model.Id')
            .then(function (response) {
                self.logs = response.data;

                // Reverse the logs in order to get the newest logs on the bottom 
                self.logs.reverse();
            }); 
        },
        saveReservation: function() {
            var self = this;

            var data = {
                ToolId: @Model.Id,
                FromDate: this.reservationForm.FromDate,
                ToDate: this.reservationForm.ToDate
            };

            axios.post('/api/reservations', JSON.stringify(data), { headers: { 'content-type': 'application/json; charset=utf-8' } })
            .then(function (response) {
                if (response.status == 201)
                    $('#reservationDialog').modal('hide');

                // TODO: Error reporting

                // Reload reservations
                self.loadReservations();
            });
        },
        cancelReservation: function() {
            $('#reservationDialog').modal('hide');
            this.reservationForm.FromDate = '';
            this.reservationForm.ToDate = '';
        },
        deleteReservation: function(id) {
            var self = this;

            var options = {
                title: 'Slett reservasjon',
                message: 'Er du sikker på at du vil slette reservasjonen?'
            }

            ConfirmDialog(options, function(){
                axios.delete('/api/reservations/' + id)
                .then(function(response) {
                    if (response.status == 200) {
                        for (var i = 0; i < self.reservations.length; i++) {
                            if (self.reservations[i].id == id) {
                                self.reservations.splice(i, 1);
                                return;
                            }
                        }
                    }
                });
            })
        },
        toggleFavorite: function() {
            var self = this;

            if (!this.favorite) {
                axios.post('/api/Favorites', JSON.stringify({ toolid: @Model.Id }), { headers: { 'Content-Type': 'application/json' }})
                .then(function (response) {
                    if (response.status == 201)
                        self.favorite = true;
                });
            }
            else {
                axios.delete('/api/Favorites', { data: JSON.stringify({ toolid: @Model.Id }), headers: { 'Content-Type': 'application/json' }})
                .then(function (response) {
                    if (response.status == 200)
                        self.favorite = false;
                });
            }
        },
        checkOut: function(id) {
            var self = this;

            var currentDate = new Date();

            var stopLoop = false;

            // If there currently are no reservations for the tool, a user is free to check out the tool
            if (self.reservations.length == 0)
                self.checkOutTool(id);
            else {
                self.reservations.forEach(function(reservation) {

                if (stopLoop)
                    return;

                if (reservation.userId == '@UserManager.GetUserId(User)'
                && reservation != self.reservations[self.reservations.length - 1])
                    return;

                if (reservation.userId == '@UserManager.GetUserId(User)'
                && reservation == self.reservations[self.reservations.length - 1])
                {
                    self.checkOutTool(id);

                    return;
                }

                var toDate = new Date(reservation.toDate);    
                var fromDate = new Date(reservation.fromDate);    

                // If a user tries to check out a tool, but the tool is currently reserved for someone else, he/she gets a warning
                if (currentDate.getTime() <= toDate.getTime() 
                && currentDate.getTime() >= fromDate.getTime())
                {       
                        var options = {
                            title: 'Advarsel',
                            message: 'Dette verktøyet er reservert av ' + reservation.user.userName + '. Er du sikker på at du vil sjekke ut verktøyet?'
                        }

                        ConfirmDialog(options, function(){
                            self.checkOutTool(id);
                    })
                    
                    stopLoop = true;
                }

                if (reservation == self.reservations[self.reservations.length - 1]
                && !stopLoop)
                    self.checkOutTool(id);
            })
            }
        },
        checkIn: function(id) {
            var self = this;

            axios.put('/api/Tools/' + id, {
            id: id,
            name: '@Model.Name',
            image: '@Model.Image',
            thumbnail: '@Model.Thumbnail',
            statusId: @Model.StatusId,
            currentOwnerId: 'No owner',
            alias: '@Model.Alias'
            })

            var currentDate = new Date();

            var newestLog = self.logs[self.logs.length - 1];

            axios.put('/api/Logs/' + newestLog.id, {
            id: newestLog.id,
            toolId: @Model.Id,
            userId: '@UserManager.GetUserId(User)',
            fromDate: newestLog.fromDate,
            toDate: currentDate.toLocaleString()
            })
            .then(function () {
                // Reload logs
                self.loadLogs();
            });

            self.currentOwnerId = 'No owner';
        },
        checkOutTool: function(id) {
            var self = this;

            axios.put('/api/Tools/' + id, {
            id: id,
            name: '@Model.Name',
            image: '@Model.Image',
            thumbnail: '@Model.Thumbnail',
            statusId: @Model.StatusId,
            currentOwnerId: '@UserManager.GetUserId(User)',
            alias: '@Model.Alias'
            })

            var currentDate = new Date();

            var data = {
                ToolId: @Model.Id,
                UserId: '@UserManager.GetUserId(User)',
                FromDate: currentDate.toLocaleString(),
                ToDate: '...'
            };

            axios.post('/api/Logs', JSON.stringify(data), { headers: { 'content-type': 'application/json; charset=utf-8' } })
            .then(function (response) {
                if (response.status == 201) {
                    // Reload logs
                    self.loadLogs();
                } 
            });

            self.currentOwnerId = '@UserManager.GetUserId(User)';
        }
    }
})
</script>
}