@model app.Models.ToolViewModels.EditViewModel

@{
    ViewData["Title"] = Localizer["Edit"];
}

<h2>@Localizer["Edit"]</h2>

<h4>@Localizer["Tool"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tool.Id" />
            <div class="form-group">
                <label asp-for="Tool.Name" class="control-label"></label>
                <input asp-for="Tool.Name" class="form-control" />
                <span asp-validation-for="Tool.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select name="Tool.StatusId" class="form-control">
                    @foreach(Status status in Model.Statuses)
                    {
                        if (status.Id == Model.Tool.StatusId)
                        {
                            <option value="@status.Id" selected>@status.StatusName</option>
                        }
                        else
                        {
                            <option value="@status.Id">@status.StatusName</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Add or edit picture"]</label>
                @if (Model.Tool.Image != null) 
                {
                    <div><img src="~/@Model.Tool.Image" alt="@Model.Tool.Name"></div>
                }
                <input type="file" name="Image" accept="image/*">
            </div>
            <div class="form-group">
                <label asp-for="Tool.Alias" class="control-label"></label>
                <input asp-for="Tool.Alias" class="form-control" />
                <span asp-validation-for="Tool.Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tool.ToolIdentifierCode" class="control-label"></label>
                <input asp-for="Tool.ToolIdentifierCode" class="form-control" />
                <span asp-validation-for="Tool.ToolIdentifierCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tool.Shelf" class="control-label"></label>
                <input asp-for="Tool.Shelf" class="form-control" />
                <span asp-validation-for="Tool.Shelf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to list"]</a>
</div>