@model IEnumerable<app.Models.Tool>

@section Styles
{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/toolList.css" asp-append-version="true"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/blog.min.css" asp-append-version="true"/>
    </environment>
}

@{
    ViewData["Title"] = "Index";
}

<h2>Tool List</h2>

@if (User.IsInRole("Admin"))
{
    <p><a asp-action="Create">Create New</a></p>
}

<table class="table table-hover">
    <thead> 
        <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            @if(!User.IsInRole("Admin")) {
                <td><a asp-action="Details" asp-route-id="@item.Id">Details</a></td>
            }
            @if(User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
