@model app.Models.Report

@{
    ViewData["Title"] = Localizer["Create"];
}

<h2>@Localizer["Create"]</h2>

<h4>@Localizer["Report"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Localizer["Fault"]</label>
                <input asp-for="Error" class="form-control" />
                <span asp-validation-for="Error" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Tool" asp-action="Index">@Localizer["Back to list"]</a>
</div>

