@model app.Models.Report

@{
    ViewData["Title"] = Localizer["Details"];
}

<h2>@Localizer["Details"]</h2>

<div>
    <h4>@Localizer["Report"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Error)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Error)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> |
    <a asp-controller="Admin" asp-action="Reports">@Localizer["Back to list"]</a>
</div>
