@model app.Models.ApplicationUser

@{
    ViewData["Title"] = "Delete";
}

<h2>Slett</h2>

<h3>Er du sikker på at du vil slette denne brukeren?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Brukernavn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            E-post
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Telefonnummer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>Super-Administrator</dt>
        <dd>
            @if (Model.isSuperAdmin)
            {
                @Html.Raw("Ja")
            }
            else
            {
                @Html.Raw("Nei")
            }
        </dd>
        <dt>Administrator</dt>
        <dd>
            @if (Model.isAdmin)
            {
                @Html.Raw("Ja")
            }
            else
            {
                @Html.Raw("Nei")
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Slett" class="btn btn-default" /> |
        <a asp-controller="Admin" asp-action="Users">Tilbake til Liste</a>
    </form>
</div>
