@model app.Models.ApplicationUser

@{
    ViewData["Title"] = Localizer["Details"];
}

<h2>@Localizer["Details"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Localizer["Username"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Localizer["Email"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Localizer["Phone number"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>Super-Administrator</dt>
        <dd>
            @if (Model.isSuperAdmin)
            {
                @Html.Raw(Localizer["Yes"])
            }
            else
            {
                @Html.Raw(Localizer["No"])
            }
        </dd>
        <dt>Administrator</dt>
        <dd>
            @if (Model.isAdmin)
            {
                @Html.Raw(Localizer["Yes"])
            }
            else
            {
                @Html.Raw(Localizer["No"])
            }
        </dd>
        <dt>
            @Localizer["RFID code"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserIdentifierCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Admin" asp-action="Users">@Localizer["Back to list"]</a>
</div>
