@model IEnumerable<app.Models.Report>

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h2>Report-List</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Error)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Error)
            </td>
            <td>
                @if (@item.UserId == @UserManager.GetUserId(User) || User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @Html.Raw("|")
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> @Html.Raw("|")
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                }
            </td>
        </tr>
}
    </tbody>
</table>
